input {
  text-align: center;
  letter-spacing: 0.2em;
}

#step-display-col {
  // border: 2px solid green;
}
#step-display-row {
  margin-top: 3%;
  // border: 2px dotted orange;
}
.card-body{
  // border: 2px dotted purple;
}
#inner-row{
  // border: 2px dotted orange;
}
#inner-col-succ {
  // border: 2px solid red;
}
