<div class="container" id="wizard-container">
  <div class="row pt-2 align-items-center justify-content-center" id="step-display-row">
    <div class="col-xl-6 col-md-8 text-center" id="step-display-col">
      <h5 class="card-title">Link Your Remarkable</h5>
      <p *ngIf="!pairingCompleted" class="card-text">
        Go to
        <a href="https://my.remarkable.com/device/desktop/connect" target="_blank" rel="noopener noreferrer">https://my.remarkable.com/device/desktop/connect</a>
        <br /> to get a one time code to pair your device, then enter it into the form below.

      </p>
      <div class="row justify-content-center align-items-center h-75" id="inner-row">
        <div *ngIf="!isPairing && !pairingCompleted && !pairingError" class="col-xl-7 col-md-6 col-sm-8">
          <div class="form-group text-monospace m-3">
            <input [formControl]="otCode" class="form-control" id="oneTimeCodeInput" placeholder="8-digit-code" />
          </div>
          <button class="btn btn-primary" [disabled]="otCode.status == 'INVALID'" type="submit"
            (click)="onRegisterClicked()"> Register</button>
        </div>

        <div *ngIf="isPairing" class="col">
          <div class="spinner-border m-4 p-3" role="status ">
            <span class="sr-only">Loading...</span>
          </div>
          <p class="text-muted">
            pairing your reMarkable account <br />
            this takes a few seconds
          </p>
        </div>

        <div *ngIf="!isPairing && pairingCompleted" class="col" id="inner-col-succ">
          <div class="alert alert-success" role="alert">
            Your Remarkable has been paired successfully!
            New puzzles will be delivered to a folder called
            remarkable-crossword as they become available.
          </div>
        </div>

        <div *ngIf="!isPairing && pairingError" class="col" id="inner-col-succ">
          <div class="alert alert-warning text-left" role="alert">
            Unable to pair the app with your reMarkable account <br>
            <b>Potential fixes: </b><br>
            - make sure you don't already have a folder called "Remarkable Crossword" <br>
            - make sure your one time code is not expired
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
