



input {
  text-align: center;
  letter-spacing: 0.2em;
}

#step-display-col {
  /* border: 2px solid green; */
}
#step-display-row {
  margin-top: 3%;
  /* border: 2px dotted orange; */
  /* padding: 10px; */
}
