<!--! NAV BAR AREA  -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Remarkable Crossword</a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- make navbar collapsible -->
  <div class="collapse navbar-collapse" id="navbarMenu" [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/amplifystart" class="nav-link"> amplify start </a>
      </li>
      <li>
        <a routerLink="/app-stepper" class="nav-link"> pair device </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="logInOutButton" (click)="handleLogInOut()">
          <h5> <i class="bi bi-person"></i>
            {{userLoginState == 'LOGGED_IN' ? ' log out': ' login'}}</h5>
        </a>
      </li>
      <!--! DROPDWON (currently not used) -->
      <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
        <a href class="nav-link" dropdownToggle (click)="false"> drop-down </a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li *ngFor="let choice of items">
            <a class="dropdown-item" href="#">{{choice}}</a>
          </li>
        </ul>
      </span>
    </ul>


  </div>
</nav>
<router-outlet></router-outlet>
