<div class="modal-header">
  <h4 class="modal-title pull-left"> Log in</h4>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email Address</label>
      <input formControlName="email" type="email" class="form-control" placeholder="enter email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control" placeholder="password">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!--! error messages -->
    <div  class="alert alert-danger" role="alert">
      no user exists for that email would you like to
      <a id="signUpLink" class="alert-link" (click)="launchSignUpComp()">
        sign up</a>?
    </div>
  </form>
</div>
